body {
    padding-top: 80px;
}

.unavailable{
    color: #ccc;
    text-decoration: line-through;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#image-container {
    position: relative;
    display: inline-block;
}

.problems {
    margin-top: 20px;
}

.result{
    text-align: center;
    width: 50px;
    display: inline-block;
}

.problem{
    display: inline-block;
    width: 100px; 
    margin-left: 20px;
}