body {
    padding-top: 80px;
}

img {
    width: 100%;
    height: auto;
}

.unavailable{
    color: #ccc;
    text-decoration: line-through;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#image-container {
    position: relative;
    display: inline-block;
}

.problems {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.result{
    text-align: center;
    width: 50px;
    display: inline-block;
}

.problem{
    display: inline-block;
    width: 100px; 
    margin-left: 20px;

}

ul{
    list-style-type: none;
}

.check{
    margin-left: 10px;
}
.check i{
    font-size: 18px;
    color: green;
}