<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/solarized-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link href="/static/style.css" rel="stylesheet">

    <title>Code Viewer</title>
</head>
<body>
    <header>
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
            
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">課題一覧</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('view_author', report_index=report_index) }}">提出一覧</a></li>
                        <li class="nav-item">
                            <a class="nav-link {% if author_index == 0 %}disabled{% endif %}" id="prev-report-link"
                               href="{% if author_index > 0 %}{{ url_for('view_code', page_num=0, author_index=author_index-1, report_index=report_index) }}{% else %}#{% endif %}">
                               前のレポート
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if author_index >= total_authors - 1 %}disabled{% endif %}" id="next-report-link"
                               href="{% if author_index < total_authors - 1 %}{{ url_for('view_code', page_num=0, author_index=author_index+1, report_index=report_index) }}{% else %}#{% endif %}">
                               次のレポート
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="next-unfinished-report-link"
                               href="{{url_for('next_unfinished_report', report_index=report_index, author_index=author_index)}}">
                               次の未完了レポート
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id= "first-page-link" href="{{ url_for('view_code', page_num=0, author_index=author_index, report_index=report_index, rotate=rotate) }}">最初のページ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="last-page-link" href="{{ url_for('view_code', page_num=total_pages-1, author_index=author_index, report_index=report_index, rotate=rotate) }}">最後のページ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page_num == 0 %}disabled{% endif %}"
                            id="prev-page-link"
                               href="{% if page_num > 0 %}{{ url_for('view_code', page_num=page_num-1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">
                               前のページ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page_num >= total_pages - 1 %}disabled{% endif %}" 
                            id="next-page-link" 
                            href="{% if page_num < total_pages - 1 %}{{ url_for('view_code', page_num=page_num+1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">
                               次のページ
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
        </nav>
    </header>


    <main class="container">
        <div class="row">
            <div class="col-8">
                <h1>Code Viewer</h1>

                {% if onlinetext %}
                <div class="program-comment">{{ onlinetext }}</div>
                {% endif %}

                <pre><code class="language-c mycode">{{ code }}</code></pre>
                <div id="result-area"><h2>処理中・・・</h2></div>
 
                <h2>サンプルプログラム</h2>
                <pre><code class="language-c mycode">{{ code_sample }}</code></pre>
                <div id="result-sample"><h2>処理中・・・</h2></div>
            </div>
            <div class="col-4 sticky-sidebar">
                <input type="checkbox" id="auto-next" class="form-check-input" onclick="toggleAutoNext()" value="auto-next"><label class="form-check-label" for="auto-next">自動ページ送り</label>
                <input type="checkbox" id="confirm-next" class="form-check-input" onclick="toggleConfirmNext()" value="confirm-next"><label class="form-check-label" for="confirm-next">ページ送り時確認</label>
                <h2>{{ report }}</h2>
                <p>{{author_index+1}}/{{total_authors}}</p>
                <h3>{{ author }}</h3>
                <div class="problems">
                    <form id="problems-form">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>◯</th>
                                <th>△</th>
                                <th>✕</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                {% for p in problems_common %}
                            <tr>
                                <td>{{p}}</td>
                                <td><input class="form-check-input" type="radio" name="common{{loop.index0}}" value="circle"></td>
                                <td><input class="form-check-input" type="radio" name="common{{loop.index0}}" value="triangle"></td>
                                <td><input class="form-check-input" type="radio" name="common{{loop.index0}}" value="cross"></td>
                                <td><button type="button" class="btn btn-warning" onclick="resetOption('common{{loop.index0}}')">クリア</button></td>
                            </tr>
                {% endfor %}
                {% for p in problems %}
                            <tr>
                                <td>{{p}}</td>
                                <td><input class="form-check-input" type="radio" name="problem{{loop.index0}}" value="circle"></td>
                                <td><input class="form-check-input" type="radio" name="problem{{loop.index0}}" value="triangle"></td>
                                <td><input class="form-check-input" type="radio" name="problem{{loop.index0}}" value="cross"></td>
                                <td><button type="button" class="btn btn-warning" onclick="resetOption('problem{{loop.index0}}')">クリア</button></td>
                            </tr>
                {% endfor %}
                        </tbody>
                    </table>
                    </form>
                    <p><a href="{{ url_for('edit_problems', report_index=report_index, prevpage=myurl) }}">採点項目編集</a></p>
                </div>
                <div class="pages">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item {% if page_num == 0 %}disabled{% endif %}">
                                <a class="page-link page-nav" href="{% if page_num > 0 %}{{ url_for('view_code', page_num=page_num-1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">前</a>
                            </li>
                            {% for i in range(total_pages) %}
                                <li class="page-item {% if page_num == i %}active{% endif %}">
                                    <a class="page-link page-nav" href="{{ url_for('view_code', page_num=i, author_index=author_index, report_index=report_index, rotate=rotate) }}">{{ i+1 }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if page_num >= total_pages - 1 %}disabled{% endif %}">
                                <a class="page-link page-nav" href="{% if page_num < total_pages - 1 %}{{ url_for('view_code', page_num=page_num+1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">次</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </main>

    <script>hljs.highlightAll();</script>
    <script src={{url_for('static', filename='programming_viewer.js')}}></script>
    <script>
        n_problems = {{problem_num}};
        n_problems_common = {{problem_num_common}};
        report = "{{report}}";
        author = "{{author}}";
        window.addEventListener('load', updateCheckboxes({{auto_next}}, {{confirm_next}}));
        window.addEventListener('load', loadMark('{{marks | tojson}}', '{{marks_common | tojson}}'));
    </script>

    <script>
        fetch('/generate/{{report_index}}/{{author_index}}/{{page_num}}')
          .then(res => res.json())
          .then(data => {
            document.getElementById('result-area').innerHTML = data.html;
          });
          fetch('/generate_sample/{{report_index}}')
          .then(res => res.json())
          .then(data => {
            document.getElementById('result-sample').innerHTML = data.html;
          });
      </script>

</body>
</html>
