<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>PDF Viewer</title>
</head>
<body>

    <header>
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
            
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">課題一覧</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('view_author', report_index=report_index) }}">提出一覧</a></li>
                        <li class="nav-item">
                            <a class="nav-link {% if author_index == 0 %}disabled{% endif %}" id="prev-report-link"
                               href="{% if author_index > 0 %}{{ url_for('view_pdf', page_num=0, author_index=author_index-1, report_index=report_index) }}{% else %}#{% endif %}">
                               前のレポート
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if author_index >= total_authors - 1 %}disabled{% endif %}" id="next-report-link"
                               href="{% if author_index < total_authors - 1 %}{{ url_for('view_pdf', page_num=0, author_index=author_index+1, report_index=report_index) }}{% else %}#{% endif %}">
                               次のレポート
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id= "first-page-link" href="{{ url_for('view_pdf', page_num=0, author_index=author_index, report_index=report_index, rotate=rotate) }}">最初のページ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="last-page-link" href="{{ url_for('view_pdf', page_num=total_pages-1, author_index=author_index, report_index=report_index, rotate=rotate) }}">最後のページ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page_num == 0 %}disabled{% endif %}"
                            id="prev-page-link"
                               href="{% if page_num > 0 %}{{ url_for('view_pdf', page_num=page_num-1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">
                               前のページ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page_num >= total_pages - 1 %}disabled{% endif %}" 
                            id="next-page-link" 
                            href="{% if page_num < total_pages - 1 %}{{ url_for('view_pdf', page_num=page_num+1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">
                               次のページ
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
        </nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-8">

                <div id="image-container" width="100%" height="auto">
                    <canvas id="canvas"></canvas>
                    <img src="/{{ image_path }}" alt="PDF Page" id="pdf-image">
                </div>
            </div>
            <div class="col-4">
                <input type="checkbox" id="auto-next" class="form-check-input" onclick="toggleAutoNext()"><label class="form-check-label" for="auto-next">自動ページ送り</label>
                <input type="checkbox" id="confirm-next" class="form-check-input" onclick="toggleConfirmNext()"><label class="form-check-label" for="form-check-input">ページ送り時確認</label>
                <h2>{{ report }}</h2>
                <h3>{{ author }}</h3>
                <div>
                    <button id="btn-circle" class="btn btn-primary" onclick="setMark('circle')">〇</button>
                    <button id="btn-cross" class="btn btn-outline-primary" onclick="setMark('cross')">✕</button>
                    <button id="btn-triangle" class="btn btn-outline-primary" onclick="setMark('triangle')">△</button>
                    <button id="btn-erace" class="btn btn-outline-primary" onclick="setMark('erace')">消去</button>
                </div>
                <div class="problems">
                    {% for p in problems %}
                        <ul>
                            <li><button class="btn btn-outline-primary" id="problem{{loop.index0}}" onclick="changeProblem({{loop.index0}})">選択</button>
                                <span class="problem">{{p}}</span>
                                <span id="mark{{loop.index0}}" class="result">　</span>
                                <button class="btn btn-danger" onclick="removeMark({{loop.index0}})">削除</button>
                            </li>
                        </ul>
                    {% endfor %}
                    <p><a href="{{ url_for('edit_problems', report_index=report_index, prevpage=myurl) }}">採点項目編集</a></p>
                </div>
                <div class="pages">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item {% if page_num == 0 %}disabled{% endif %}">
                                <a class="page-link page-nav" href="{% if page_num > 0 %}{{ url_for('view_pdf', page_num=page_num-1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">前</a>
                            </li>
                            {% for i in range(total_pages) %}
                                <li class="page-item {% if page_num == i %}active{% endif %}">
                                    <a class="page-link page-nav" href="{{ url_for('view_pdf', page_num=i, author_index=author_index, report_index=report_index, rotate=rotate) }}">{{ i+1 }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if page_num >= total_pages - 1 %}disabled{% endif %}">
                                <a class="page-link page-nav" href="{% if page_num < total_pages - 1 %}{{ url_for('view_pdf', page_num=page_num+1, author_index=author_index, report_index=report_index, rotate=rotate) }}{% else %}#{% endif %}">次</a>
                            </li>
                    </ul>
                </div>
                <div>
                    <button class="btn btn-secondary" onclick="rotate_image(1)">左へ回転</button>　<button class="btn btn-secondary" onclick="rotate_image(3)">右へ回転</button>

                </div>
            </div>
        </div>

    </main>

    <script src={{url_for('static', filename='viewer.js')}}></script>
    <script>
        currentQuestion = {{question}};
        getProblemLinks({{problems_num}});
        rotate = {{rotate}};

        currentPage = {{page_num}};
        problemCount = {{problems_num}};

        canvas.addEventListener('click', (event) => {
            clicked_event(event, '{{report}}', '{{author}}', {{page_num}}, {{problems_num}});
        });

        removeMark = (index) => {
            removeMark_(index, '{{report}}', '{{author}}', {{page_num}});
        }

        loadJson('{{marks | tojson}}');
        updateMarks();
        redrawCanvas({{page_num}});
        //changeProblem(currentQuestion);
//        window.onload = findNextProblem(false);
        window.addEventListener('load', findNextProblem(false));
        window.addEventListener('load', updateMarks());
        window.addEventListener('load', updateCheckboxes({{auto_next}}, {{confirm_next}}));
        window.addEventListener('load', redrawCanvas({{page_num}}));
    </script>

</body>
</html>
